.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
/* Hero section styling */
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  z-index: 1;
}
/* Overlay to darken the video */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: 0;
}
nav {
  background-color: rgba(27, 0, 27, 0.989) !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.featurette-image {
  max-width: 100%; /* Ensures the image does not exceed the container's width */
  height: auto;
}

/* Optional: Set a maximum height */
@media (min-width: 768px) {
  .featurette-image {
    max-height: 600px;
  }
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a181b;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#3b03a9, hsl(313, 64%, 27%));
  border-radius: 20px;
}
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
#web-design {
  padding-top: 70px;
}
